{% extends "CGPortfolioBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - A propos
{% endblock %}

{% block body %}
   <!-- Compétences -->
    <div class="affichage-skill">
        <h3 class="h-style-3">Mes compétences</h3>
        <ul class="affichage-skill-list">
        {% for skill in skills %}              
            {% if not skill.isSoftware %}
                <a class="a-style-1" href="{{ path('cg_portfolio_skill_show', {'id': skill.id }) }}">
                    <li>
                        <p>{{ skill.name|upper }}</p>
                        <img src="{{ skill.logoSrc }}"/>
                    </li>
                </a>
            {% endif %} 
        {% endfor %}
        </ul>
    </div>
    <!-- Logiciels --> 
    <div class="affichage-skill">
        <h3 class="h-style-3">Mes outils de travail</h3>
        <ul class="affichage-skill-list">
        {% for skill in skills %}
            {% if skill.isSoftware %}
                <a class="a-style-1" href="{{ path('cg_portfolio_skill_show', {'id': skill.id }) }}">
                    <li>
                        <p>{{ skill.name|upper }}</p>
                        <img src="{{ skill.logoSrc }}"/>
                    </li>
                </a>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    <!-- Expériences -->        
    <div class="affichage-skill">
        <h3 class="h-style-3">Expériences professionnelles</h3>
        <ul class="affichage-skill-list">
        {% for experience in experiences%}
            <a class="a-style-1" href="{{ path('cg_portfolio_experience_show', {'id': experience.id }) }}">
                <li>
                    <p>{{ experience.company|upper }}</p>
                    <p>{{ experience.contractType }}</p>
                    <img src="{{ experience.companyLogo }}"></img>
                </li>
            </a>
        {% endfor %}
        </ul>
    </div>
{% endblock %}


