{% extends "CGPortfolioBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ article.titre }}
{% endblock %}

{% block body %}
    <div class="article-show">
        <h3 class="h-style-1">{{ article.titre }}</h3>
        <img src="{{ article.logo }}">
        <h3 class="h-style-1">Date Création</h3>
        <div class="article-date">
            {{ article.dateCreation|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}
        </div>
        <h3 class="h-style-1">Article</h3>
        <div class="article-content">
            {{ article.content|raw }}
        </div>
    </div>
{% endblock %}