{% extends "CGPortfolioBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ article.titre }}
{% endblock %}

{% block body %} 
    <div class="article-container">
        <h1 class="h-style-3">{{ article.titre }}</h1>
        <div class="article-date">
            {{ article.dateCreation|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}
        </div>
        <div class="article-content">
            {{ article.content|raw }}
        </div>
    </div>
{% endblock %}